body{
  a{
    text-decoration: none;
    color: #d9534f;
  }
  a:hover{
    color: #d9534f;
  }
  header{
    width: 80%;
    margin: 0 auto;
    .logo{
      margin-left: 60px;
      background: url("../images/week3/logo.jpg");
      display: inline-block;
      background-size: cover;
      width: 80px;
      height: 60px;
      float: left;
    }
    nav{
      float: left;
      margin-left: 30px;
      display: inline-block;
      ul{
        margin: 0 20px;
        li{
          padding: 0 20px;
          display: inline-block;
          line-height: 60px;
          a{

          }
        }
      }
    }
    .authorize{
      float: right;
      display: inline-block;
      margin-right: 60px;
      a{
        line-height: 60px;
        padding: 5px 8px;
        border: 1px solid #aaaaaa;
        border-radius: 7px;
        margin: 0 10px;
      }
    }
  }
  header::after{
    display: block;
    content: "";
    clear: both;
  }
  .main {
    background-image: url("../images/week3/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    text-align: center;
    h1{
      color: #F1F1F1;
      font-size: 37px;
      padding-top: 60vh;
    }
    p{
      color: #F1F1F1;
      padding-top: 7vh;
      font-size: 18px;
    }
    .gotop{
      padding-top: 20px;
      color: #F1F1F1;
      font-size: 30px;
      cursor: pointer;
    }
  }

  .pictureContainer{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    ul{
      padding: 20px 0;
      text-align: center;
      li{
        width: 24%;
        display: inline-block;
        padding: 20px 0;
        .pic {
          width: 200px;
          height: 200px;
          border-radius: 50%;
        }
      }

    }
  }

}