@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-k8taie");
  src: url("../fonts/icomoon.eot?#iefix-k8taie") format("embedded-opentype"), url("../fonts/icomoon.woff?-k8taie") format("woff"), url("../fonts/icomoon.ttf?-k8taie") format("truetype"), url("../fonts/icomoon.svg?-k8taie#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/foodSense.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/foodSense.scss */
.icon-Tastemakers:before {
  content: "\e9a3";
}

/* line 30, ../sass/foodSense.scss */
.icon-Blog:before {
  content: "\e91f";
}

/* line 34, ../sass/foodSense.scss */
.icon-frustrated2:before {
  content: "\ea00";
}

/* line 38, ../sass/foodSense.scss */
.icon-Contribute:before {
  content: "\e998";
}

/* line 42, ../sass/foodSense.scss */
.icon-user:before {
  content: "\e971";
}

/* line 46, ../sass/foodSense.scss */
.icon-twitter:before {
  content: "\ea91";
}

/* line 50, ../sass/foodSense.scss */
.icon-facebook:before {
  content: "\ea8c";
}

/* line 54, ../sass/foodSense.scss */
.icon-mail2:before {
  content: "\ea84";
}

/* line 58, ../sass/foodSense.scss */
.icon-connection:before {
  content: "\e91b";
}

/* line 62, ../sass/foodSense.scss */
body {
  background-color: #ffffff;
  text-align: center;
}
/* line 65, ../sass/foodSense.scss */
body .container {
  width: 1110px;
  margin: 0 auto;
}

/* line 71, ../sass/foodSense.scss */
a {
  text-decoration: none;
}

/* line 75, ../sass/foodSense.scss */
aside {
  width: 200px;
  display: inline-block;
  text-align: left;
  float: left;
}
/* line 81, ../sass/foodSense.scss */
aside .logo {
  width: 135px;
  height: 122px;
  display: inline-block;
  background: url("../images/foodSense/logo.png");
}
/* line 88, ../sass/foodSense.scss */
aside ul {
  margin: 10px auto;
}
/* line 90, ../sass/foodSense.scss */
aside ul li {
  height: 35px;
  text-align: left;
}
/* line 94, ../sass/foodSense.scss */
aside ul li .row {
  color: #3BAB98;
  padding-left: 5px;
}
/* line 101, ../sass/foodSense.scss */
aside div {
  margin-top: 20px;
}
/* line 103, ../sass/foodSense.scss */
aside div .title {
  padding-bottom: 4px;
  border-bottom: 1px dashed;
  text-align: left;
}
/* line 109, ../sass/foodSense.scss */
aside div .content {
  padding-top: 10px;
  line-height: 22px;
}
/* line 114, ../sass/foodSense.scss */
aside div a {
  color: #3BAB98;
}
/* line 119, ../sass/foodSense.scss */
aside .link {
  text-align: left;
  display: inline-block;
  margin: 10px auto;
  padding: 5px;
  border: 1px solid #E5E5E5;
  border-radius: 7px;
  text-decoration: none;
}

/* line 131, ../sass/foodSense.scss */
section {
  width: 900px;
  display: inline-block;
}
/* line 134, ../sass/foodSense.scss */
section .cake {
  text-align: right;
  height: 350px;
  background-image: url("../images/foodSense/cake.jpg");
}
/* line 139, ../sass/foodSense.scss */
section .cake .title {
  padding: 200px 0px 10px 0px;
}
/* line 141, ../sass/foodSense.scss */
section .cake .title span {
  padding: 10px;
  background-color: #FFFFFF;
  font-family: icomoon;
  font-size: 23px;
  font-style: italic;
}
/* line 149, ../sass/foodSense.scss */
section .cake .intro {
  padding-top: 8px;
}
/* line 151, ../sass/foodSense.scss */
section .cake .intro span {
  color: #FFFFFF;
  padding: 10px;
  background-color: #000000;
  font-family: icomoon;
  font-size: 15px;
  font-style: italic;
}
/* line 161, ../sass/foodSense.scss */
section .cake .author {
  padding-top: 50px;
}
/* line 163, ../sass/foodSense.scss */
section .cake .author span {
  padding: 7px;
  background-color: #E7E7E8;
  font-family: icomoon;
  font-size: 10px;
  font-style: italic;
}
/* line 174, ../sass/foodSense.scss */
section .items ul {
  background-color: #EFF8F7;
}
/* line 176, ../sass/foodSense.scss */
section .items ul li {
  background-color: #EFF8F7;
  border-right: 1px solid #dddddd;
  width: 224px;
  float: left;
}
/* line 181, ../sass/foodSense.scss */
section .items ul li p {
  padding-top: 15px;
  padding-left: 5px;
  text-align: left;
  font-size: 20px;
  color: #63BDAE;
}
/* line 188, ../sass/foodSense.scss */
section .items ul li .info {
  padding: 10px 0px 12px 5px;
  font-size: 12px;
  font-style: italic;
}
/* line 194, ../sass/foodSense.scss */
section .items ul .active {
  background-color: #D9EFEC;
}
/* line 198, ../sass/foodSense.scss */
section .items ul::after {
  content: "";
  clear: both;
  display: block;
}
/* line 205, ../sass/foodSense.scss */
section .email {
  margin: 30px auto;
  height: 50px;
  border-bottom: 1px dashed #dddddd;
  border-top: 1px dashed #dddddd;
}
/* line 211, ../sass/foodSense.scss */
section .email .email-left {
  display: inline-block;
  line-height: 25px;
  height: 50px;
  width: 60%;
}
/* line 216, ../sass/foodSense.scss */
section .email .email-left .icon-mail2 {
  line-height: 50px;
  width: 10%;
  display: inline-block;
  float: left;
}
/* line 222, ../sass/foodSense.scss */
section .email .email-left .annotation {
  width: 88%;
  display: inline-block;
  height: 50px;
  text-align: left;
  font-size: 13px;
}
/* line 230, ../sass/foodSense.scss */
section .email .email-right {
  display: inline-block;
  float: right;
  line-height: 50px;
  width: 38%;
  text-align: right;
}
/* line 241, ../sass/foodSense.scss */
section .foods .food-item {
  float: left;
  width: 205px;
  display: inline-block;
  margin: 10px;
}
/* line 247, ../sass/foodSense.scss */
section .foods .food-item .image {
  width: 204px;
  height: 150px;
}
/* line 250, ../sass/foodSense.scss */
section .foods .food-item .image img {
  padding: 10px;
  border: 1px solid #eeeeee;
}
/* line 256, ../sass/foodSense.scss */
section .foods .food-item .introduction {
  padding: 20px 0px;
}
/* line 258, ../sass/foodSense.scss */
section .foods .food-item .introduction .title {
  color: #63BDAE;
  font-size: 17px;
  text-align: left;
  line-height: 20px;
}
/* line 265, ../sass/foodSense.scss */
section .foods .food-item .introduction .info {
  padding: 10px 0;
  font-size: 15px;
  text-align: left;
  line-height: 19px;
}
/* line 272, ../sass/foodSense.scss */
section .foods .food-item .introduction .link {
  padding: 10px 0;
  font-size: 15px;
  text-align: left;
  color: #aaaaaa;
}
/* line 277, ../sass/foodSense.scss */
section .foods .food-item .introduction .link a {
  text-decoration: none;
  color: #63BDAE;
}

/* line 289, ../sass/foodSense.scss */
footer .content {
  border-top: 1px solid #dddddd;
  width: 1100px;
  margin: 0 auto;
}
/* line 294, ../sass/foodSense.scss */
footer .content .license {
  padding-top: 15px;
  float: left;
}
/* line 298, ../sass/foodSense.scss */
footer .content .license ul li {
  display: inline;
  padding: 0px 10px;
  border-right: 1px solid #dddddd;
}
/* line 302, ../sass/foodSense.scss */
footer .content .license ul li a {
  color: #63BDAE;
}
/* line 308, ../sass/foodSense.scss */
footer .content .license p {
  padding-top: 5px;
  padding-left: 10px;
  color: #999999;
  text-align: left;
}
/* line 316, ../sass/foodSense.scss */
footer .content .link {
  padding-top: 15px;
  float: right;
}
/* line 319, ../sass/foodSense.scss */
footer .content .link span {
  color: #999999;
}
