@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-k8taie");
  src: url("../fonts/icomoon.eot?#iefix-k8taie") format("embedded-opentype"), url("../fonts/icomoon.woff?-k8taie") format("woff"), url("../fonts/icomoon.ttf?-k8taie") format("truetype"), url("../fonts/icomoon.svg?-k8taie#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/foodSense.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/foodSense.scss */
.icon-Tastemakers:before {
  content: "\e9a3";
}

/* line 30, ../sass/foodSense.scss */
.icon-Blog:before {
  content: "\e91f";
}

/* line 34, ../sass/foodSense.scss */
.icon-frustrated2:before {
  content: "\ea00";
}

/* line 38, ../sass/foodSense.scss */
.icon-Contribute:before {
  content: "\e998";
}

/* line 42, ../sass/foodSense.scss */
.icon-user:before {
  content: "\e971";
}

/* line 46, ../sass/foodSense.scss */
.icon-twitter:before {
  content: "\ea91";
}

/* line 50, ../sass/foodSense.scss */
.icon-facebook:before {
  content: "\ea8c";
}

/* line 54, ../sass/foodSense.scss */
.icon-mail2:before {
  content: "\ea84";
}

/* line 58, ../sass/foodSense.scss */
.icon-connection:before {
  content: "\e91b";
}

/* line 62, ../sass/foodSense.scss */
body {
  background-color: #ffffff;
  text-align: center;
}

/* line 67, ../sass/foodSense.scss */
aside {
  width: 200px;
  display: inline-block;
  text-align: left;
}
/* line 72, ../sass/foodSense.scss */
aside ul {
  margin: 10px auto;
}
/* line 74, ../sass/foodSense.scss */
aside ul li {
  height: 35px;
  text-align: left;
}
/* line 78, ../sass/foodSense.scss */
aside ul li .row {
  color: #3BAB98;
  padding-left: 5px;
}
/* line 85, ../sass/foodSense.scss */
aside div {
  margin-top: 20px;
}
/* line 87, ../sass/foodSense.scss */
aside div .title {
  padding-bottom: 4px;
  border-bottom: 1px dashed;
  text-align: left;
}
/* line 93, ../sass/foodSense.scss */
aside div .content {
  padding-top: 10px;
  line-height: 22px;
}
/* line 98, ../sass/foodSense.scss */
aside div a {
  color: #3BAB98;
}
/* line 103, ../sass/foodSense.scss */
aside .link {
  text-align: left;
  display: inline-block;
  margin: 10px auto;
  padding: 5px;
  border: 1px solid #E5E5E5;
  border-radius: 7px;
  text-decoration: none;
}

/* line 115, ../sass/foodSense.scss */
section {
  width: 700px;
  display: inline-block;
}
/* line 118, ../sass/foodSense.scss */
section .cake {
  text-align: right;
  height: 350px;
  background-image: url("../images/foodSense/cake.jpg");
}
/* line 123, ../sass/foodSense.scss */
section .cake .title {
  padding: 200px 0px 10px 0px;
}
/* line 125, ../sass/foodSense.scss */
section .cake .title span {
  padding: 10px;
  background-color: #FFFFFF;
  font-family: icomoon;
  font-size: 23px;
  font-style: italic;
}
/* line 133, ../sass/foodSense.scss */
section .cake .intro {
  padding-top: 8px;
}
/* line 135, ../sass/foodSense.scss */
section .cake .intro span {
  color: #FFFFFF;
  padding: 10px;
  background-color: #000000;
  font-family: icomoon;
  font-size: 15px;
  font-style: italic;
}
/* line 145, ../sass/foodSense.scss */
section .cake .author {
  padding-top: 50px;
}
/* line 147, ../sass/foodSense.scss */
section .cake .author span {
  padding: 7px;
  background-color: #E7E7E8;
  font-family: icomoon;
  font-size: 10px;
  font-style: italic;
}
/* line 158, ../sass/foodSense.scss */
section .items ul {
  background-color: #EFF8F7;
}
/* line 160, ../sass/foodSense.scss */
section .items ul li {
  background-color: #EFF8F7;
  border-right: 1px solid #dddddd;
  display: inline-block;
  width: 171px;
}
/* line 165, ../sass/foodSense.scss */
section .items ul li p {
  padding-top: 15px;
  padding-left: 5px;
  text-align: left;
  font-size: 20px;
  color: #63BDAE;
}
/* line 172, ../sass/foodSense.scss */
section .items ul li .info {
  padding: 10px 0px 12px 5px;
  font-size: 12px;
  font-style: italic;
}
/* line 181, ../sass/foodSense.scss */
section .email {
  margin: 30px auto;
  border-bottom: 1px dashed #dddddd;
  border-top: 1px dashed #dddddd;
}
/* line 186, ../sass/foodSense.scss */
section .email .email-left {
  display: inline-block;
  width: 60%;
}
/* line 189, ../sass/foodSense.scss */
section .email .email-left span {
  padding: 10px 0px;
  display: inline-block;
}
/* line 193, ../sass/foodSense.scss */
section .email .email-left .icon-mail2 {
  width: 10%;
}
/* line 196, ../sass/foodSense.scss */
section .email .email-left .annotation {
  width: 88%;
  text-align: left;
  font-size: 13px;
}
/* line 202, ../sass/foodSense.scss */
section .email .email-right {
  display: inline-block;
  width: 38%;
  text-align: right;
}
