a{
    text-decoration: none;
}
header{
    background-color: #FBF8F1;
    height: 50px;
}

header .container{
    width: 80%;
    margin: 0 auto;
}

header .logo{
    background: url("../images/logo.png");
    display: inline-block;
    width: 100px;
    height: 50px;
    background-size: cover;
    float: left;
}

header nav{
    display: inline-block;
    padding: 0 30px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    float: left;
}

header nav ul{
}

header nav ul li{
    display: inline-block;
    padding: 0 20px;
    line-height: 50px;
}

header nav ul li a{
    color:#9A999E;
}

header .donate{
    display: inline-block;
    line-height: 50px;
    padding-left: 10px;
    float: right;
}

header .donate a{
    padding: 5px 8px;
    border: 1px solid #cccccc;
    border-radius: 7px;
    color:#9A999E;
}


.title{
    padding: 0 150px;
    position: relative;
    min-height: 300px;
}

.title::after{
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../images/main.jpg");
    background-size: cover;
    opacity:0.5;
}

.title h1{
    padding-top: 200px;
    font-family: icomoon;
    font-size: 37px;
    text-align: center;
    color: #FFFFFF;
}

.title .role{
    font-family: icomoon;
    font-size: 22px;
    text-align: center;
    color: darksalmon;
    padding: 100px 0 200px 0;
}

.title .role a{
    margin-right: 20px;
    text-decoration: none;
    padding: 15px 20px;
    border: 1px solid #FBF8F1;
    border-radius: 5px;
    color: #FFFFFF;
}

.title .role a:hover{
    background-color: aliceblue;
    color: crimson;
}

.title .role .tutor{
    background-color: #dfdfdf;
}

section{
    padding: 0px 250px;
}

.mission{
    background-color: #FBF8F1;
}

.mission h2{
    padding-top: 100px;
    font-family: icomoon;
    font-size: 30px;
    text-align: center;
    color: #444444;
}

.mission p{
    font-family: icomoon;
    font-size: 18px;
    text-align: center;
    color: #444444;
    padding-top: 50px;
}

.mission .button{
    padding-top: 60px;
    padding-bottom: 100px;
    text-align: center;
}

.mission a{
    font-family: icomoon;
    font-size: 18px;
    color: #666666;
    text-decoration: none;
    border: 1px solid #FECC6A;
    border-radius: 5px;
    padding: 10px 25px;
    background-color: #FECC6A;
}

.mission a:hover{
    color: crimson;
}

.students{
    background-color: #93CFB2;
}

.students_contents{
    position: relative;
    padding-top: 100px;
}

.students_contents img{
    position: absolute;
}

.students_right{
    padding-left: 330px;
}

.students_right h2{
    font-family: icomoon;
    font-size: 30px;
    text-align: center;
    color: #F0F4EC;
}

.students_right p{
    font-family: icomoon;
    font-size: 16px;
    text-align: center;
    color: #F0F4EC;
    line-height: 25px;
    padding-top: 60px;
}

.students_right .button{
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
}

.students_right a{
    font-family: icomoon;
    font-size: 18px;
    color: #F0F4EC;
    text-decoration: none;
    border: 1px solid #93CFB2;
    border-radius: 5px;
    padding: 10px 25px;
    background-color: #70aaa2;
}

.students_right a:hover{
    color: crimson;
}

.tutors{
    background-color: #FECC6A;
}

.tutors_content{
    position: relative;
    padding-top: 100px;
}

.tutors_content img{
    position: absolute;
    top: 100px;
    right: 0px;
}

.tutors_left{
    padding-right: 330px;
}

.tutors_left h2{
    font-family: icomoon;
    font-size: 30px;
    text-align: center;
    color: #F0F4EC;
}

.tutors_left p{
    font-family: icomoon;
    font-size: 16px;
    text-align: center;
    color: #F0F4EC;
    padding-top: 60px;
    line-height: 25px;
}

.tutors_left .button{
    padding-top: 60px;
    padding-bottom: 100px;
    text-align: center;
}

.tutors_left a{
    font-family: icomoon;
    font-size: 18px;
    color: #F0F4EC;
    text-decoration: none;
    border: 1px solid #E9BB63;
    border-radius: 5px;
    padding: 10px 25px;
    background-color: #E9BB63;
}

.tutors_left a:hover{
    color: crimson;
}

.partners{
    background-color: #81A8CA;
}

.partners_content{
    position: relative;
    padding-top: 100px;
}

.partners_content img{
    position: absolute;
}

.partners_right{
    padding-left: 330px;
}

.partners_right h2{
    font-family: icomoon;
    font-size: 30px;
    text-align: center;
    color: #F0F4EC;
}

.partners_right p{
    font-family: icomoon;
    font-size: 16px;
    text-align: center;
    color: #F0F4EC;
    padding-top: 60px;
    line-height: 25px;
}

.partners_right .button {
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
}

.partners_right a{
    font-family: icomoon;
    font-size: 18px;
    color: #F0F4EC;
    text-decoration: none;
    border: 1px solid #6E91B0;
    border-radius: 5px;
    padding: 10px 25px;
    background-color: #6E91B0;
}

.partners_right a:hover{
    color: crimson;
}

.progress{
    background-color: #FBF8F1;
    padding: 100px 150px;
}

.progress h2{
    font-family: icomoon;
    font-size: 30px;
    text-align: center;
    color: #444444;
}

.progress ul{
    text-align: center;
    padding: 20px;
}

.progress ul li{
    display: inline-block;
    margin: 20px;
    padding: 30px;
    border: 1px solid #444444;
    border-radius: 5px;
}

.progress ul li .number{
    padding: 10px;
    font-family: icomoon;
    font-size:35px;
}

.progress ul li .content{
    padding: 10px;
    font-family: icomoon;
    font-size:20px;
}

.progress .hour-tutored{
    color: #94CFB2;
}

.progress .sessions-hosted{
    color: #FECC6C;
}

.progress .volunteer-tutors{
    color: #81A8CA;
}

footer{
    background-color: #444444;
    padding: 15px 150px 15px 150px;
}

footer p{
    font-family: icomoon;
    font-size: 16px;
    color: #eeeeee;
    text-align: center;
}