header{
    background-color: #FBF8F1;
    height: 70px;
    text-align: center;
}
header a{
    margin-left: 30px;
}

header a img{
    max-height: 50px;
}

header ul{
    height: 70px;
    display: inline-block;
}

header ul li{
    display: inline-block;
}

@font-face {
    font-family: icomoon;
    src: url('../fonts/icomoon.ttf'),
         url('../fonts/icomoon.eot');
}

header ul li a{
    text-decoration: none;
    text-align: center;
    font-family: icomoon;
    color: darkgray;
}

header ul li a:hover{
    color: darksalmon;
}

header .donate{
    margin-left: 20px;
    display: inline-block;
    font-family: icomoon;
    font-size: 15px;
    text-align: center;
    color: darksalmon;
}

header .donate a{
    margin-left: 10px;
    text-decoration: none;
    padding: 5px;
    border: 1px solid lightslategray;
}

header .donate a:hover{
    color: darksalmon;
}

.title{
    padding: 150px 150px;
    position: relative;

}

.title::after{
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../images/main.jpg");
    opacity:0.5;
}

.title h1{
    font-family: icomoon;
    font-size: 37px;
    text-align: center;
    color: #444444;
}

.title .role{
    font-family: icomoon;
    font-size: 25px;
    text-align: center;
    color: darksalmon;
    padding-top: 100px;
}

.title .role a{
    margin-right: 20px;
    text-decoration: none;
    padding: 20px;
    border: 1px solid #FBF8F1;
}

.title .role a:hover{
    background-color: aliceblue;
    color: crimson;
}

section{
    padding: 100px 150px 0px 150px;
}

.mission{
    background-color: #FBF8F1;
}

.mission h2{
    font-family: icomoon;
    font-size: 30px;
    text-align: center;
    color: #444444;
}

.mission p{
    font-family: icomoon;
    font-size: 16px;
    text-align: center;
    color: #444444;
    padding-top: 50px;
}

.mission .button{
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
}

.mission a{
    font-family: icomoon;
    font-size: 18px;
    color: #666666;
    text-decoration: none;
    border: 1px solid #FDC250;
    padding: 10px 25px;
    background-color: #FDC250;
}

.mission a:hover{
    color: crimson;
}

.students{
    background-color: #80C8A2;
}

.students_contents{
    position: relative;
}

.students_contents img{
    position: absolute;
}

.students_right{
    padding-left: 330px;
}

.students_right h2{
    font-family: icomoon;
    font-size: 30px;
    text-align: center;
    color: #444444;
}

.students_right p{
    font-family: icomoon;
    font-size: 16px;
    text-align: center;
    color: #444444;
    padding-top: 50px;
}

.students_right .button{
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
}

.students_right a{
    font-family: icomoon;
    font-size: 18px;
    color: #666666;
    text-decoration: none;
    border: 1px solid #80C8A2;
    padding: 10px 25px;
    background-color: #70aaa2;
}

.students_right a:hover{
    color: crimson;
}

.tutors{
    background-color: #FDC250;
}

.tutors_content{
    position: relative;
}

.tutors_content img{
    position: absolute;
    top: 0px;
    right: 0px;
}

.tutors_left{
    padding-right: 330px;
}

.tutors_left h2{
    font-family: icomoon;
    font-size: 30px;
    text-align: center;
    color: #444444;
    padding-top: 50px;
}

.tutors_left p{
    font-family: icomoon;
    font-size: 16px;
    text-align: center;
    color: #444444;
    padding-top: 60px;
}

.tutors_left .button{
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
}

.tutors_left a{
    font-family: icomoon;
    font-size: 18px;
    color: #666666;
    text-decoration: none;
    border: 1px solid #80C8A2;
    padding: 10px 25px;
    background-color: #70aaa2;
}

.tutors_left a:hover{
    color: crimson;
}

.partners{
    background-color: #6E97C0;
    padding: 100px 150px 0 150px;
}

.partners_content{
    position: relative;
}

.partners_content img{
    position: absolute;
}

.partners_right{
    padding-left: 330px;
}

.partners_right h2{
    font-family: icomoon;
    font-size: 30px;
    text-align: center;
    color: #444444;
}

.partners_right p{
    font-family: icomoon;
    font-size: 16px;
    text-align: center;
    color: #444444;
    padding-top: 50px;
}

.partners_right .button {
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
}

.partners_right a{
    font-family: icomoon;
    font-size: 18px;
    color: #666666;
    text-decoration: none;
    border: 1px solid #80C8A2;
    padding: 10px 25px;
    background-color: #70aaa2;
}

.partners_right a:hover{
    color: crimson;
}

.progress{
    padding: 100px 150px 0 150px;
    background-color: #FBF8F1;
}

.progress h2{
    font-family: icomoon;
    font-size: 30px;
    text-align: center;
    color: #444444;
}

.progress ul{
    text-align: center;
    padding: 20px;
    padding-bottom: 80px;
}

.progress ul li{
    display: inline-block;
    margin: 20px;
    padding: 30px;
    border: 1px solid #444444;
}

.progress ul li p{
    padding: 10px;
    font-family: icomoon;
    font-size:25px;
    color: #444444;
}

footer{
    background-color: #444444;
    padding: 15px 150px 15px 150px;
}

footer p{
    font-family: icomoon;
    font-size: 16px;
    color: #eeeeee;
    text-align: center;
}